# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env
,env
# Firebase admin SDK key
serviceAccountKey.json

# Virtual environment
venv/

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Local DB
*.sqlite3
.env
.env
